<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= h("Netzke: Sencha Ext JS and Ruby on Rails component framework") %></title>
  <%= csrf_meta_tag %>
  <%= load_netzke %>
  
          <link rel="stylesheet" href="http://img.csfd.cz/assets/b1949/modules/web/styles/styles.css" />

</head>
<body>
  <%= yield %>

</body>
</html>